/* Headerbar */
* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.headerbar {
  display: flex;
  background-color: #1f2937;
  color: wheat;
  flex-direction: row;
  font-size: 24px;
  padding-bottom: 38px;
  justify-content: space-evenly;
}
.headerlogo {
  display: flex;
}
.headerlinks {
  display: flex;
  align-items: center;
  background-color: #1f2937;
  gap: 24px;
  padding: 8px;
  color: wheat;
}

/* Hero */
.hero {
  background-color: #1f2937;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.heroright {
  display: flex;
  flex-direction: column;
  background-color: rgb(167, 65, 65);
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 400px;
  border-radius: 15px;
}

.heroleft {
  display: flex;
  flex-direction: column;
}

#herohead {
  font-size: 48px;
}
#herotext {
  font-size: 18px;
}

button {
  font-size: 18px;
  background-color: #3882f6;
  color: white;
  border-radius: 12px;
  padding: 30x;
}

.boxsection {
  background-color: rgb(97, 92, 92);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.fourboxcontainer {
  display: flex;
}

/* Some random information here */
.fourboxcontainer {
  background: rgb(97, 92, 92);
  display: flex;
  gap: 50px;
  padding: 20px;
  justify-content: space-evenly;
  align-items: center;
}

#box1square,
#box2square,
#box3square,
#box4square {
  background: lightgrey;
  height: 200px;
  width: 200px;
  border-radius: 20px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box1,
.box2,
.box3,
.box4 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Quote section */
.quotesection {
  display: flex;
  flex-direction: column;
  background-color: #1f2937;
  color: white;
  font-size: 20px;
  font-weight: 500;
  padding: 30px;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.quotebox {
  display: flex;
  flex-direction: column;
  background-color: #1f2937;
  justify-content: center;
  height: 400px;
  width: 1000px;
}
.quotename {
  display: flex;
  justify-content: flex-end;
  font-size: 32px;
}
