/* Headerbar */
* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.headerbar {
  display: flex;
  background-color: #1f2937;
  color: wheat;
  flex-direction: row;
  font-size: 24px;
  padding-bottom: 38px;
  justify-content: space-evenly;
}
.headerlogo {
  display: flex;
}
.headerlinks {
  display: flex;
  align-items: center;
  background-color: #1f2937;
  gap: 24px;
  padding: 8px;
  color: wheat;
}

/* Hero */
.hero {
  background-color: #1f2937;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.heroright {
  display: flex;
  flex-direction: column;
  background-color: rgb(167, 65, 65);
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 400px;
  border-radius: 15px;
}

.heroleft {
  display: flex;
  flex-direction: column;
}

#herohead {
  font-size: 48px;
}
#herotext {
  font-size: 18px;
}

button {
  font-size: 18px;
  background-color: #3882f6;
  color: white;
  border-radius: 12px;
  padding: 30x;
}

.boxes {
  background-color: rgb(97, 92, 92);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fourboxcontainer {
  display: flex;
}
