/* Headerbar */
* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.headerbar {
  display: flex;
  background-color: #1f2937;
  color: wheat;
  flex-direction: row;
  justify-content: space-around;
  font-size: 24px;
  padding-bottom: 70px;
}
.headerlogo {
  display: flex;
}
.headerlinks {
  display: flex;
  align-items: center;
  background-color: #1f2937;
  gap: 24px;
  padding: 8px;
  color: wheat;
}

/* Hero */
.hero {
  background-color: #1f2937;
  display: flex;
  color: wheat;
  justify-content: space-around;
  padding-bottom: 24px;
  gap: 8px;
}
.heroright {
  background-color: turquoise;
}

#herohead {
  color: wheat;
  font-size: 48px;
}

#herotext {
  font-size: 24px;
  color: wheat;
  flex-wrap: wrap;
}

.heroleft,
.heroright {
  display: flex;
  flex-direction: column;
}

.heroright {
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  width: 600px;
}
button {
  font-size: 24px;
  background-color: #3882f6;
  color: wheat;
  padding: 10px;
  border-radius: 15px;
}
